<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <link href="stylesheets/login.css" rel="stylesheet" />
  <script src="javascripts/login.js" defer></script>
  <title>Heart Rate Monitoring | Login</title>
  <body>
    <main>
      <div class="container">
        <header>Login</header>
        <div class="inputField">
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required />
        </div>

        <div class="inputField">
          <label for="password"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
          />
        </div>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/signup.html">Sign up</a></p>
      </div>
    </main>
  </body>
</html>
