* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #f3f2ef;
  --laptop-container-side-padding: 55px;
  --tablet-container-side-padding: 20px;
  --laptop-header-padding: 1.5rem;
  --laptop-footer-padding: 1.5rem;
  --laptop-card-gap: 2rem;
  --main-border-radius: 8px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  text-align: center;
  background-color: white;
  flex-shrink: 0;
  padding: var(--laptop-footer-padding) var(--laptop-container-side-padding) var(--laptop-footer-padding) var(--laptop-container-side-padding);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.shadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main-border-radius {
  border-radius: var(--main-border-radius);
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: var(--laptop-header-padding) var(--laptop-container-side-padding) var(--laptop-header-padding) var(--laptop-container-side-padding);
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 80rem;
  padding-left: var(--laptop-container-side-padding);
  padding-right: var(--laptop-container-side-padding);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .container, header {
    padding-left: var(--tablet-container-side-padding);
    padding-right: var(--tablet-container-side-padding);
  }

}


.strike-through-divider {
  overflow: hidden;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.strike-through-divider:before,
.strike-through-divider:after {
  background-color: lightgray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.strike-through-divider:before {
  right: 0.5em;
  margin-left: -50%;
}

.strike-through-divider:after {
  left: 0.5em;
  margin-right: -50%;
}

.hidden {
  display: none !important;
}

.navigation-chip-active {
  background-color: lightgray !important;
}


