body {
  margin: 0;
  background-color: var(--main-bg-color);
}

header > h1 {
  margin-top: 20px;
  margin-bottom: 0;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.container {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border-radius: 8px;
}

label > b {
  font-size: 15px;
  font-weight: normal;
}

input[type=email], input[type=password], input[type=text] {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 25px;
  padding: 10px 0 10px 7px;
  border-radius: 8px;
  border: 1px solid darkblue
}

button[type=submit] {
  width: 100%;
  margin-top: 8px;
  padding: 10px 0 10px 7px;
  background-color: darkblue;
  color: white;
  border: 0;
  border-radius: 8px;
}

p.noAccount {
  text-align: center;
  font-size: 12px;
}