section.setting-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 20rem;
  background-color: white;
  border-radius: 8px;
}

/* Columns */
.navigation-col {
  flex: 0 0 40%;
  border-right: 1px solid lightgray;
}
.content-col {
  flex: 0 0 60%
}