/* Section */
section.pills-section {
  gap: 2%;
}

@media only screen and (max-width: 600px) {
  .setting-pill-col {
    display: none;
  }
  .refresh-chip-col {
    flex: 0 0 49% !important;
  }
  .date-picker-col {
    flex: 0 0 49% !important;
  }
}

@media only screen and (max-width: 850px) {
  .setting-pill-content {
    font-size: 13px
  }
}

/* Columns */
.setting-pill-col {
  flex: 0 0 39.2%;
}
.refresh-chip-col {
  flex: 0 0 28.4%
}
.date-picker-col {
  flex: 0 0 28.4%;
}

/* Pills */
.setting-pill, .refresh-chip, .date-picker-chip {
  background-color: white;
  height: 3rem;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
}

.setting-pill {
  justify-content: space-between;
}

.setting-pill-content {
  align-items: center;
  gap: 10px
}

.refresh-chip {
  gap: 10px;
  cursor: pointer;
}
.refresh-chip:hover {
  filter: brightness(85%)
}

.date-picker-chip {
  padding: 10px 20px 10px 20px;
  overflow: hidden;
}

.date-picker-chip input[type=date].view-mode-label {
  width: 100%;
  height: 100%;
  border: none;
}

.date-picker-chip input[type=date].view-mode-label:focus-visible {
  outline: none !important;
}

/* Charts */

section.chart-section:last-child {
  margin-bottom: 3rem;
}

.chart-section #my-daily-chart {
  overflow: hidden;
}

.chart-section #my-weekly-chart {
  overflow: hidden;
}

#my-weekly-chart, #my-daily-chart {
  background-color: white;
}

.plot-container.plotly {
  width: 100%;
  height: 100%;
}